body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cc2900;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

.fase {
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

#projecaoText {
    min-width: 300px;  /* Tamanho mínimo da largura */
    min-height: 150px; /* Tamanho mínimo da altura */
    max-width: 800px;  /* Tamanho mínimo da largura */
    max-height:  400px; /* Tamanho mínimo da altura */
    resize: both;      /* Permite redimensionar apenas para aumentar */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
}

#titulo {
    min-width: 300px;  /* Tamanho mínimo da largura */
    min-height: 20px; /* Tamanho mínimo da altura */
    max-width: 500px;  /* Tamanho mínimo da largura */
    max-height:  20px; /* Tamanho mínimo da altura */
    resize: both;      /* Permite redimensionar apenas para aumentar */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
}

button {
    background-color: #5285ec;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}



/* Fase 1, graficos e estatisticas*/
.container {
    display: flex;
    justify-content: space-between;  /* Espaço entre estatísticas e gráficos */
    align-items: flex-start;  /* Alinha os itens ao topo */
    flex-wrap: wrap;  /* Permite quebrar os gráficos em nova linha se necessário */
}

#estatisticas {
    /*width: 50%;*/  /* Ocupa 50% da largura da tela */
    flex: 0 1 auto;  /* Ocupa o espaço mínimo necessário para o conteúdo */
    margin-right: 20px;  /* Espaço à direita das estatísticas */
    background-color: antiquewhite;
}

#graficos {
    /*width: 50%;*/  /* Ocupa 50% da largura da tela */
    /*height: 50%;*/
    /*text-align: center;*/  /* Centraliza as imagens dentro da div */
    
    flex: 1;  /* Ocupa o espaço restante da tela */
    display: flex;
    flex-wrap: wrap;  /* Faz com que os gráficos quebrem em linha */
    gap: 20px;  /* Espaçamento entre os gráficos */
    background-color: antiquewhite;

}

.grafico {
    /*width: 50%; */ /* Define o tamanho das imagens */
    /*height: 50%;
    margin-bottom: 20px;*/  /* Espaçamento entre os gráficos */
    flex: 1 1 200px;  /* Define que cada gráfico tenha ao menos 200px e ocupe o espaço disponível */
    max-width: 300px;  /* Limite máximo da largura de cada gráfico */
}

/*------------------------------------------------------------------------------------------*/