/* Pagina da senha*/
/* Container que mantém o conteúdo da senha centralizado */
.senha-container {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;            /* Altura total da viewport */
    background-color: #f4f4f4; /* Fundo da área de senha */
    padding: 0;
}

/* Caixa onde os elementos de input e o botão serão colocados */
.senha-caixa {
    background-color: #cc2900; /* Fundo vermelho */
    padding: 2em;              /* Espaçamento interno da caixa */
    border-radius: 10px;       /* Bordas arredondadas */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);  /* Sombra para dar destaque */
    text-align: center;        /* Centraliza o conteúdo na caixa */
    max-width: 400px;          /* Largura máxima */
    width: 100%;               /* Garante que ocupe 100% da largura até o limite */
    position: relative;        /* Necessário para o uso do ::after */
}

/* Fitinha para erro com transição */
.senha-caixa::after {
    content: "Senha incorreta!";
    position: absolute;
    left: 90%; /* Começa na borda esquerda da caixa */
    top: 50%;
    transform: translateY(-40%); /* Centraliza verticalmente */
    background-color: #d52b1e; /* Vermelho para destacar o erro */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap; /* Evita quebra de linha */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease, left 0.3s ease; /* Transição para suavizar a animação */
}

/* Aparece e se move quando a senha está incorreta */
.senha-caixa.incorreta::after {
    opacity: 1; /* Mostra a mensagem */
    left: calc(100% + 5px); /* Move a fita para fora da caixa para a direita */
}

/* Estilo do título */
.senha-caixa h2 {
    margin-bottom: 1em;
    font-size: 24px;
    color: #ffffff;
}

/* Contêiner para o input e o ícone de senha */
.input-container {
    position: relative;
    width: 100%;
}

/* Estilo do input de senha */
.senha-caixa input[type="password"], 
.senha-caixa input[type="text"] {
    width: 100%;
    padding: 0.5em 2.5em 0.5em 0.5em; /* Adiciona padding à direita para o ícone */
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Estilo do ícone de senha */
.pass-icon {
    position: absolute;
    top: 40%;
    right: 0px; /* Espaçamento à direita */
    transform: translateY(-50%); /* Centraliza verticalmente no input */
    cursor: pointer;
    font-size: 1.5em; /* Tamanho do ícone */
    color: #ccc; /* Cor do ícone */
    transition: color 0.3s ease;
    width: 50px;
}

/* Alterar a cor do ícone quando o cursor passar sobre ele */
.pass-icon:hover {
    color: #007bff;
}

/* Botão de envio */
.senha-caixa button {
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;  /* Ocupa toda a largura do input */
    transition: background-color 0.3s ease;
}

/* Hover no botão */
.senha-caixa button:hover {
    background-color: #0056b3;
}

/* Mensagem de erro */
.senha-caixa p {
    color: red;
    font-size: 0.9em;
    margin-top: 1em;
}

/* Estilo responsivo para telas pequenas */
@media (max-width: 480px) {
    .senha-caixa {
        padding: 1.5em;
    }

    .senha-caixa h2 {
        font-size: 20px;
    }

    .senha-caixa button {
        font-size: 0.9em;
    }
}

/* Estilos para o círculo de carregamento */
.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #cc2900; /* Cor da borda superior */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Centraliza o círculo */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*------------------------------------------------------------------------------------------*/

/*Estrutura principal do site (header, footer, etc...)*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f4;
    min-width: 620px;
}
.col {
    flex: 1 1 100%; /* Ocupa toda a largura em telas pequenas */
    margin: 0.5em 0; /* Margem entre os blocos */
}

@media (min-width: 768px) {
    .col {
        flex: 1 1 45%; /* Em tablets, ocupará cerca de metade da largura */
    }
}

@media (min-width: 1024px) {
    .col {
        flex: 1 1 22%; /* Em desktops, voltará a ser 4 colunas */
    }
}

/* Wrapper para todo o conteúdo da página */
.wrapper {
    min-height: 100dvh;  /* Garante que a altura mínima seja 100% da viewport */
    display: flex;
    flex-direction: column;
}

/* O conteúdo principal vai crescer e ocupar o espaço disponível */
.main-content {
    flex: 1;  /* Faz com que o conteúdo cresça para ocupar o espaço disponível */
}

/* Header */
header {
    background-color: #cc171d;
    z-index: 1;
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    display: flex;  /* Centraliza o conteúdo */
    justify-content: flex-start; /* Alinha os itens para a esquerda */
    align-items: center;  /* Centraliza verticalmente */
    box-sizing: border-box;
    overflow: hidden;  /* Garante que o conteúdo não transborde */
}
/* Banner */
#banner {
    height: 10dvh;  /* Ajusta a altura para ser responsiva com a tela */  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header h1 {
    font-size: 24px;  /* Tamanho fixo da fonte para o banner */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/* Estilo do ícone de senha */
.logo-icon {
    position: absolute;
    top: 50%; /* Centraliza verticalmente com o texto */
    left: 2%; /* Coloca o logo alinhado à esquerda */
    transform: translateY(-50%); /* Ajusta o logo para ficar centralizado verticalmente */
    max-width: 5%; /* Define um tamanho máximo para o logo */
    height: 10vw; /* Mantém a proporção da imagem */
    object-fit: contain; /* Ajusta a imagem ao seu container */
    margin-right: 1em; /* Espaço entre o logo e o texto */
}
/* Responsividade para telas menores */
@media (max-width: 600px) {
    header {
        flex-direction: column;  /* Muda para coluna quando o espaço é pequeno */
        align-items: center;  /* Centraliza o conteúdo */
        text-align: center;
    }

    #banner {
        font-size: 4vw;  /* Aumenta um pouco a fonte em telas pequenas */
        text-align: center;
    }

    .logo-icon {
        /*max-width: 25%;*/  /* Aumenta o logo para melhor visualização em telas pequenas */
        margin-bottom: 1em;  /* Espaço entre o logo e o texto */
    }
}

/* Footer */
footer {
    background-color: #cc171d;  /* Mesmo fundo do header */
    color: white;
    text-align: center;  /* Centraliza o conteúdo do rodapé */
    padding: 1em 0;  /* Espaçamento semelhante ao do header */
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

footer a {
    color: #ffdd99;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 0.5em 0;  /* Espaçamento entre as linhas do rodapé */
    font-size: 14px;  /* Tamanho fixo da fonte no footer */
}

/* Ajuste específico para telas pequenas */
@media (max-width: 480px) {
    #banner {
        height: auto;  /* Ajusta a altura do banner para telas pequenas */
    }
}
/*------------------------------------------------------------------------------------------*/


.fase 
{
    margin-bottom: 2em;
}

.hidden 
{
    display: none;
}

#projecaoText 
{
    min-width: 400px;  /* Tamanho mínimo da largura */
    min-height: 150px; /* Tamanho mínimo da altura */
    max-width: 400px;  /* Tamanho mínimo da largura */
    max-height:  600px; /* Tamanho mínimo da altura */
    resize: both;      /* Permite redimensionar apenas para aumentar */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
}

/* MEDIDAS */
.titulo 
{
    min-width: 500px;  /* Tamanho mínimo da largura */
    min-height: 30px; /* Tamanho mínimo da altura */
    max-width: 500px;  /* Tamanho mínimo da largura */
    max-height:  30px; /* Tamanho mínimo da altura */
    resize: both;      /* Permite redimensionar apenas para aumentar */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
}

.explicacao 
{
    min-width: 500px;  /* Tamanho mínimo da largura */
    min-height: 150px; /* Tamanho mínimo da altura */
    max-width: 500px;  /* Tamanho mínimo da largura */
    max-height:  400px; /* Tamanho mínimo da altura */
    resize: both;      /* Permite redimensionar apenas para aumentar */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
}

.orcamento
{

}

/*------------------------------------------------------------------------------------------*/

button 
{
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Mantenha a cor do texto */

}



/* Fase 1, graficos e estatisticas*/
.container {
    display: flex;
    justify-content: space-between;  /* Espaço entre estatísticas e gráficos */
    align-items: flex-start;  /* Alinha os itens ao topo */
    flex-wrap: wrap;  /* Permite quebrar os gráficos em nova linha se necessário */
}

#estatisticas {
    /*width: 50%;*/  /* Ocupa 50% da largura da tela */
    /*flex: 0 1 auto;   Ocupa o espaço mínimo necessário para o conteúdo */
    margin-right: 20px;  /* Espaço à direita das estatísticas */
    background-color: antiquewhite;
}

/* não usado */
#graficos {
    /*width: 50%;*/  /* Ocupa 50% da largura da tela */
    /*height: 50%;*/
    /*text-align: center;*/  /* Centraliza as imagens dentro da div */
    
    flex: 1;  /* Ocupa o espaço restante da tela */
    display: flex;
    flex-wrap: wrap;  /* Faz com que os gráficos quebrem em linha */
    justify-content: space-evenly;  /* Espaçamento uniforme ao redor dos gráficos */
    background-color: antiquewhite;

}

.grafico {
    /*width: 50%; */ /* Define o tamanho das imagens */
    /*height: 50%;*/
    flex: 1 1 200px;  /* Define que cada gráfico tenha ao menos 200px e ocupe o espaço disponível */
    max-width: 450px;  /* Limite máximo da largura de cada gráfico */
}
.grafico_inf 
{
    /*width: 50%; */ /* Define o tamanho das imagens */
    /*height: 50%;*/
    flex: 1 1 200px;  /* Define que cada gráfico tenha ao menos 200px e ocupe o espaço disponível */
    max-width: 700px;  /* Limite máximo da largura de cada gráfico */
}
/*------------------------------------------------------------------------------------------*/

#medidaTabs button 
{
    margin-right: 10px;
    margin-bottom: 10px; 
}

#confirmarBtn
{
    margin-top: 50px;
    min-width: 120px; width: 40%;
    position: relative; 
    left: 10%;
    background-color: #007bff; /* Cor de fundo do botão primário */
    color: #fff; /* Cor do texto */
    padding: 0.375rem 0.75rem; /* Padding */
    border: 1px solid transparent; /* Borda */
    border-radius: 0.25rem; /* Raio da borda */
    transition: background-color 0.3s; /* Transição suave */
}

#confirmarBtn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Mantenha a cor do texto */
}

/* CSS para adicionar espaço acima do botão */
#btnApagar 
{
    margin-top: 20px; /* Ajuste o valor conforme necessário para o espaçamento desejado */
}

.medidasbtns
{
    background-color: #007bff; /* Cor de fundo do botão primário */
    color: #fff; /* Cor do texto */
    margin-bottom: 15px;
    padding: 0.375rem 0.75rem; /* Padding */
    border: 1px solid transparent; /* Borda */
    border-radius: 0.25rem; /* Raio da borda */
    transition: background-color 0.3s; /* Transição suave */
    display: inline-block; /* Para manter os botões lado a lado */

}


#fase0{
    padding: 2vw;
}

.caixaexpfase{
    border: 2px #338dff solid;
    border-radius: 10%;
    margin: 0.5vw;
    padding: 2vw 1vw 1vw 1vw;
    box-shadow: 2px 2px #5285ec;
    background-color: white;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espaço uniforme ao redor das colunas */
}


/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.valor{
    text-align: center;
}

tr{
    height: 64.8px;
}

.table td{
    vertical-align: middle !important;
}

.table th{
    vertical-align: middle !important;
}

/*Caixa para exibir o valor inicial nas fases 3, 4 e 5*/
.caixa-valor-inicial {
    position: absolute;
    top: 16.5%; /* Ajusta para logo abaixo do banner */
    right: 1vw;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #5285ec;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    width: fit-content;
}

.caixagp{
    border: 2px #338dff solid;
    border-radius: 15px;
    padding: 1vw 1vw 1vw 1vw;
    box-shadow: 2px 2px #5285ec;
    text-align: center;
    margin: 1vw;
}

.caixatgp{
    margin-top: 2vw;
    text-align: justify;
    font-weight: normal;
}

.modal-body {
    max-height: 400px; /* Altura máxima do modal */
    overflow-y: auto;  /* Ativa a barra de rolagem quando necessário */
    padding: 20px;     /* Espaçamento interno do modal */
    box-sizing: border-box; /* Inclui padding na largura total */
}

.modal-title {
    font-size: 1.5em; /* Ajuste o tamanho do título se necessário */
    margin-bottom: 10px; /* Espaçamento inferior do título */
    overflow-y: auto;  /* Ativa a barra de rolagem quando necessário */

}

/* Correçao da estrutura do pdf criado*/
/* Seção para Fase */
.fase {
    page-break-after: auto; /* Permite que as fases quebrem naturalmente */
    page-break-inside: avoid; /* Evita quebra dentro da seção */
    word-wrap: break-word;
}

/* Quebra de página para evitar cortes */
p, h4 {
    page-break-inside: avoid; /* Evita cortes dentro de parágrafos e títulos */
}

table {
    page-break-inside: avoid; /* Evita cortes dentro de tabelas */
}

/* Força o conteúdo a mover para a próxima página se for necessário */
.container {
    break-inside: avoid;
}

/* Impede que o título e o orçamento sejam separados */
.orcamento-container {
    page-break-inside: avoid; /* Impede quebra dentro do grupo de título e orçamento */
    word-wrap: break-word;
}
/* Impede que o título e o orçamento sejam separados */
.medidas-container {
    page-break-inside: avoid; /* Impede quebra dentro do grupo de título e orçamento */
    word-wrap: break-word;  /* Quebra a linha se for muito longa */
    white-space: pre-wrap;  /* Mantém quebras de linha e espaços */
    
}


.linhaazul{
    position: relative;  /* Garante que a div tenha um contexto de posicionamento */
    border: 7px solid white;
    z-index: 1;
    padding: 30px;  /* Espaçamento interno */

    overflow: hidden; /* Previne que o conteúdo extravase a borda */
    margin-bottom: 20px; /* Espaço antes do footer */


}



#linha1{
    top: 20%;
    left: 10%;
    width: 80%;
    height: 75%;
}


#O{
    width: 100px;
    height: 200px;
  
    position: absolute;
    top: 11.5%;
    right: 10.5%;
    left: auto;
    bottom: auto;
}
@media (max-width: 1200px) {
    #O{
        width: 100px;
        height: 200px;
      
        position: absolute;
        top: 10%;
        right: 10%;
        left: auto;
        bottom: auto;
    }
}
@media (max-width: 630px) {
    #O{
        width: 100px;
        height: 200px;
      
        position: fixed;
        top: 9%;
        right: 8%;
        left: auto;
        bottom: auto;
        /* Mantém a imagem na mesma posição */
        transform: translateX(0); /* Adicione isso para garantir que a imagem não se mova lateralmente */  
    
    }
}

/*
#linha2{
    top: -5vw;
    right: -15vw;
    width: 60vw;
    height: 35vw;
}

#linha3{
    bottom: 0vw;
    border: 5px solid #d5e7ff;
    left: 35vw;
    height: 45vw;
}
/*
#linha4{
    top: -5vw;
    left: -5vw;
    width: 25vw;
    height: 25vw;
}
*/

.main-content{
    z-index: 0.5;
}

#areas .form-control{
    width: 5vw !important;
    float: right;
}

/*------------------------------------------------------------------------------------------*/